body {
  background: grey;
  font-family: monospace;
}

.formSearch {
  font-size: 2rem;
  text-align: center;
}

.formSearch input {
  background: lightgray;
  padding: 15px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 2rem;
}

.formSearch label {
  display: block;
  margin: 30px;
}

.users img {
  margin-left: 30%;
  transform: translate(0, 40%);
}

.users a {
  padding-left: 3%;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.users>div {
  margin-top: 10px;
}